<<<<<<< HEAD
=======

>>>>>>> ae8925c8411344e556ac9ef1ff9feb95bf3e49ef
 /* Use this code to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

/* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
    height: 100%;
   }
   /* Optional: Makes the sample page fill the window. */
   html, body {
    height: 100%;
    margin: 0;
    padding: 0;
   }
   #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
   }
   #infowindow-content .title {
    font-weight: bold;
   }
   #infowindow-content {
    display: none;
   }
   #map #infowindow-content {
    display: inline;
   }
   .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
   }
   #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
   }
   .pac-controls {
    display: inline-block;
    padding: 5px 11px;
   }
   .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
   }
   #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
   }
   #pac-input:focus {
    border-color: #4d90fe;
   }
   #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
   }
   #target {
    width: 345px;
   }
/* Optional: Makes the sample page fill the window. */
html, body {
 height: 100%;
 margin: 0;
 padding: 0;
}
/*Tide Table Styling*/
#tideTable {
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
}
#tideTable td, #tideTable th {
 border: 1px solid #ddd;
 padding: 8px;
}
#tideTable tr:nth-child(even){background-color: #f2f2f2;}
#tideTable tr:hover {background-color: #ddd;}
#tideTable th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #4CAF50;
 color: white;
}